.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .7rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .3rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

@font-face { font-family: 'HSBombaram3_Regular'; src: url('https://github.com/projectnoonnu/noonfonts_20-10/blob/main/HSBombaram3_Regular.woff') format('woff'); font-weight: normal; font-style: normal; }